
#square {
  border: solid;
  border-color: black;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#row {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  height: 100vh;
  width: 250px;
  background-color: rgb(185, 185, 184);
  float: right;
  margin-top: -100px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  font-weight: bolder;
}